


/*** defaults ***/
* {
  font-family: 'Nanum Gothic Coding', monospace;

}

html{
 scroll-behavior: smooth;
 box-sizing: border-box;


}

body{
 margin-left:0px;

 color: #3d3939;

 } 



/*** icon side bar ***/


#icon-bar{
  background-color:rgb(248, 168, 77); 

  width:70px;
  height:100%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

.icon-container{
  margin-top: 136px;
}

.icon-container a{
  text-align: center;
  color:black;
  display:block;
  font-size: 30px;
  margin-left:0;
  margin-top:30px;
}

.icon-container a:hover{
  background-color:  rgb(248, 94, 67);
  color:black;
}


/*** NAV BAR ***/
nav {
  padding-top:1em;

}


nav ul{
 display:flex;
  justify-content: right;
  float:right;

  height: 50px;
  list-style-type: none;
  padding-left:5em;
  padding-right:2em;


}




nav ul li a {
  color: rgb(44, 56, 54);
  text-decoration: none;
  padding: 1em;
  font-size: 30px;
  margin-left:0.2em; 
  font-family: 'Nanum Gothic Coding', monospace;
}

#home-button{
  
  text-decoration:underline;
  text-decoration-color:rgb(255, 75, 44);
  text-decoration-thickness: .15em;  
  text-underline-offset: .2em;
 
  transition-delay: 250ms;
  font-weight:bold;
}

nav a:hover{
  color: black;
  padding-bottom:2em;
  text-decoration:underline;
  text-decoration-color:rgb(255, 75, 44);
  text-decoration-thickness: .15em;  
  text-underline-offset: .2em;
  transition-delay: 250ms;
  font-weight:bold;
}




/*WELCOME SECTION */

#welcome{

padding-left:6em;

}

#welcome .container{
display: flex;
padding-top:75px;

}

.welcome-text{
  font-family: 'Nanum Gothic Coding', monospace;

  position: relative;
  bottom:50px;
  left:10px;

}

.roxanne{

  font-size:140px;
}


.welcome-text h1{
font-size: 125px;
padding-left:.1em;

}


.welcome-text h2{ 
font-size:30px;
width:450px;
margin-top: .7em;
padding-left:2em;
font-style: italic;


}


#welcome img{
 width:840px;
 height:580px;
 
 padding-left: 7em;
 padding-right: 1em;
 padding-top: 0em;

 position: relative;
 bottom:2em;

}

/* *** MAIN SECTION *** */

main{
padding:7em;
padding-bottom:3em;

font-size: 20px;
font-family: 'Nanum Gothic Coding', monospace;


}

/* RECENT PROJECTS */

 
#work {
  padding-top:3em;
  padding-bottom:3em;
  margin-bottom:20px;
  min-height:650px;
  
}

#work h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom: 50px;
 width:107%;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
  grid-template-rows: 350px 350px;
  grid-column-gap: 75px;
  grid-row-gap: 55px;
  background-color:;
  padding: 10px;
  width:107%;
  height:700px;
}

.grid-container >div {
  background-color: rgb(136, 185, 185) ;
  
  color:rgb(255, 75, 44); 
  border-radius: 10px;
  padding: 125px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;

}


 /* about me */
 

#about{
  padding-top:4.5em;
  justify-content: space-around;
  width:107%;
  min-height:650px;
  margin-bottom:50px;
}

#about h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom:50px; 

}

#about-text .container{

display: flex;
margin-bottom:0px;
}

#about-text p{
  width: 95%;
  text-align: start;
}



/* MY SKILLS */

#skills{
  padding-top:4.5em;
  justify-content: space-around;

  margin-bottom: 0px;
  padding-bottom:0px;

}

#skills h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom:50px;
 width:107%;
}


  
  #skills .skill-bars{
      padding: 2em;
      margin: 0;
      width:107%;
      
      background-color: rgb(136, 185, 185) ;
  
      border-radius: 10px;
  }


  #skills .skill-bars .bar{
      padding: 2em 0;
  }
  #skills .skill-bars .bar .info span{
      font-size: 1.2em;
      font-weight: bold;
      color: #1c1c1c;
    
  }
  #skills .skill-bars .bar .progress-line{
      position: relative;
      height: 1em;
      width: 95%;
      background-color:rgb(248, 168, 77);
      margin-top: .3em;
      border-radius: 5px;
  }
  #skills .skill-bars .bar .progress-line:last-child{
      margin-bottom: .5em;
  }
  #skills .skill-bars .bar .progress-line span{
      height: 100%;
      width: 75%;
      background-color: rgb(240, 81, 69);
      position: absolute;
  }
  #skills .skill-bars .bar .progress-line .two{
      width: 20%;
  }
  
  #skills .skill-bars .bar .progress-line .three{
      width: 0;
  }

  #skills .skill-bars .bar .progress-line .four{
      width: 15%;
  }



/*** FOOTER ***/

#footer {
  width:125%;
  height:100%;
  background-color: rgb(248, 168, 77);
  padding:3em;
  margin-top:1em;
  margin-right:0;
  font-family: 'Nanum Gothic Coding', monospace;
  
  }

.bigger-container{

  width:590px;
  margin-left:535px;
}

#footer .container{

display: flex;
flex-direction: column;
position: relative;
right:70px;

}


#footer h2{
 font-size: 2em;
 color: #1c1c1c;
 margin-bottom:0.5em;
 }

#footer input[type="email"]{
  width: 65%;
  padding: .3em 1em;
  border-radius: 5px;
  margin-left:0; 
  }

#footer input[type="email"]:focus{
  outline: none;
  }

#footer input[type="submit"]{
  padding: .3em 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1c1c1c;
  color:rgb(248, 168, 77); 

  }

  #footer h4{
    margin-top: 0.5em;

  }


/* **************media Querys ****************************************/


/* *** TABLET LANDSCAPE *** */
@media only screen and (max-width:1024px){

 
#work {
  padding-top:3em;
  padding-bottom:3em;
  margin-bottom:20px;
  min-height:650px;
  
}

#work h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom: 50px;
 width:107%;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
  grid-template-rows: 350px 350px;
  grid-column-gap: 75px;
  grid-row-gap: 55px;
  background-color:;
  padding: 10px;
  width:107%;
  height:700px;
}

.grid-container >div {
  background-color: rgb(136, 185, 185) ;
  
  color:rgb(255, 75, 44); 
  border-radius: 10px;
  padding: 125px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;

}


/* Icon-bar */




}



/* *** MOBILE LANDSCAPE ************************************ */



@media only screen and (max-width:812px){

/* Icon bar */


  

  
  height:100%;
  position: fixed;
  top: 50%;
 width:-50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

.icon-container{
  margin-top: 120px;
}

.icon-container a{
  text-align: center;
  color:black;
  display:block;
  font-size: 30px;
  margin-left:0;
  margin-top:30px;
}




/* *** TABLET PORTRAIT ******************************************* */
 @media only screen and (max-width: 768px) {


/* Icon-bar */

.icon-container{
  margin-top: 150px;
}
#icon-bar{
  
}


/* Nav-bar */
nav{
float:inherit;

}

nav ul{
padding-left:129px;
margin-top:10px;
justify-content: space-around;
text-align: center;

}



#welcome{
  padding-bottom:300px;
  padding-left:2em;
}

#welcome .container{
 flex-direction: column;
 width:800px;
 height:600px;
 padding-bottom:150px;
 padding-top:5px;


}

.welcome-text{

  width:650px ;

  padding-top:0em;
  padding-left:9em;
}

.welcome-text h1{
  position: relative;
  left:80px;

}

.welcome-text h2{
  width:550px;
 position: relative;
 left:50px;
}

#welcome img{
  width:800px;
  height:600px;
  padding-top: 0em;
  padding-left:20em;
}



#about{
  padding-top:400px;
}

 }


/* *** MOBILE PORTRAIT************************************* */


@media only screen and (max-width: 420px){

/* Icon-bar */

#icon-bar{
  padding-top: 6em;
}

#icon-bar{
  

  width:70px;
  height:100%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

.icon-container{
  margin-top: 136px;
}

.icon-container a{
  text-align: center;
  color:black;
  display:block;
  font-size: 43px;
  margin-left:0;
  margin-top:40px;
  
}


/* Nav-bar */
nav{
  position: relative;
  left:650px;
}

nav ul{

padding-top:40px;
}

nav ul li a{
  font-size:45px;
}

/* HOME-Welcome section */

#welcome{

  padding-bottom:90px;
}
#welcome .container{
 flex-direction: column;

 padding-bottom:20em;
 padding-top:110px;
}


.welcome-text{
 padding-top:0em;
  padding-left:7em;

  position: relative;
  left:35px;
  top:30px;
}

.welcome-text h1{
font-size: 140px;

}


.welcome-text h2{ 
font-size:40px;

margin-top: .7em;



}



#welcome img{
  width:1100px;
  height:980px;

  padding-top: 4em;
  padding-left:9em;
  
  position: relative;
  top:75px;
  right:30px;
}

main{
  padding-left:7.5em;
}

/* recent projects */

#work {
  padding-top:6em;
  padding-bottom:3em;
  margin-bottom:20px;
  min-height: auto;
  justify-content:space-around;
  
}

#work h1{
 font-size:40px;
 margin-bottom: 50px;
 width:230%;
 padding-bottom:.15em;

}

.grid-container {
  display: flex;
  flex-direction: column;
  height:3000px;
}

.grid-container >div{

 
  width:700px;
  height:700px;
  
  padding-left: 5.5em;
  padding-right:19em;

}

.grid-container >div h2{
  font-size: 70px;
  text-align: center;
  width: 300px;
  padding-left:28px;
  padding-top:70px;
}

#box-1  {
  margin-bottom:2em;
 
}

#box-2  {
  margin-bottom:2em;
}

#box-3  {
  margin-bottom:2em;
}

#box-4  {
  margin-bottom:2em;
}

/* About Me */

#about{
  padding-top:3em;
  justify-content: space-around;
  width:160%;
  padding-bottom:em;
}

#about h1{
font-size:40px;
 margin-bottom: 50px;
 width:120%;
 padding-bottom:.15em;


}

#about-text .container{

display: flex;
margin-bottom:0px;
}

#about-text p{
  width: 355%;
  text-align: start;
  font-size:35px;
}


/* MY SKILLS */

#skills{
  padding-top:1em;
  justify-content: space-around;
  margin-bottom:50px;
  width:145%;



}

#skills h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom:50px;
 width:100%;
}

 #skills .skill-bars{
  padding: 2em;
  margin: 0;
  width:400%;  
  background-color: rgb(136, 185, 185) ;
  border-radius: 10px;
  }


/*** FOOTER ***/

#footer {
  width:300%;
  height:100%;
  background-color: rgb(248, 168, 77);
  padding:3em;
  margin-top:1em;
  margin-right:2em;
  
  }



#footer .container{

display: flex;
flex-direction: column;



}


}
