
/*** defaults ***/

*{
 box-sizing: border-box;


}

html{
 scroll-behavior: smooth;
}

body{
 margin-left:0px;
 font-family: 'Roboto', sans-serif;
 color: #1c1c1c;

 } 



/*** icon side bar ***/


#icon-bar{
  background-color:rgb(248, 168, 77); 

  width:70px;
  height:100%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

.icon-container{
  margin-top: 100px;
}

.icon-container a{
  text-align: center;
  color:black;
  display:block;
  font-size: 30px;
  margin-left:0;
  margin-top:30px;
}

.icon-container a:hover{
  background-color:  rgb(248, 94, 67);
  color:black;
}



/*** NAV BAR ***/
.nav-container{
  display:flex;


}

.nav-items{
  display:flex;
}

@media only screen and (max-width: 500px) {
  .nav-items  {
    flex-direction: column-reverse;
  }
}

nav ul{
  margin-left:45em;
  height: 50px;
  list-style-type: none;

}

nav ul li a {
  text-decoration: none;
  padding: 0.8em;
  font-size: 30px;
  margin-left:0.2em; 
 
}


nav a:hover{
  text-decoration:underline;
  text-decoration-color:rgb(255, 75, 44);
  text-decoration-thickness: .3em;  
  transition-delay: 250ms;
  font-weight:bold;
}




/*WELCOME SECTION */

#welcome{
height:500px;
margin-bottom:0;
padding:8em;
padding-top:0em;
margin-top:0;
width: 100%;
}

#welcome .container{
display: inline-flex;
margin-right:0;
width:100%;
}



#welcome .welcome-text{
margin-left:30px;
margin-top:0px;
display: flex;
flex-direction: column;
flex-wrap:wrap;
width:500px;

position: relative;
left:35px;
top:10px;
height:100%;
}


#welcome h1{

font-size: 100px;
float: left;
width:600px;
margin-top: .05em;
}


#welcome h2{ 

font-size:30px;
float:left;
max-width: 450px;
margin-top: .7em;
}

#welcome img{
padding-left: 0em;

padding-right: 5em;
margin-top:5em;
padding-top: 1em;

height:500px;
width:450;

position:relative;
left:73px;
bottom:75px;
}


main{
  padding:7em;
  font-size: 20px;
  padding-bottom:3em;

}

/* RECENT PROJECTS */

 
#work {
  padding-top:3em;
  padding-bottom:3em;
  margin-bottom:20px;
  min-height:650px;
  
}

#work h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom: 50px;
 width:107%;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
  grid-template-rows: 350px 350px;
  grid-column-gap: 75px;
  grid-row-gap: 55px;
  background-color:;
  padding: 10px;

  width:107%;
  height:700px;
}

.grid-container >div {
  background-color: rgb(136, 185, 185) ;
  border: ;
  color:rgb(255, 75, 44); 
  border-radius: 10px;
  padding: 125px;
  
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}


 


 /* about me */
 

#about{
  padding-top:4.5em;
  justify-content: space-around;
  width:107%;
  min-height:650px;
  margin-bottom:50px;
}

#about h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom:50px; 

}

#about-text .container{

display: flex;
margin-bottom:0px;
}

#about-text p{
  width: 95%;
  text-align: start;
}



/* MY SKILLS */

#skills{
  padding-top:4.5em;
  justify-content: space-around;

  margin-bottom: 0px;
  padding-bottom:0px;

}

#skills h1{
 border-bottom: 4px solid rgb(240, 81, 69);
 margin-bottom:50px;
 width:107%;
}


  
  #skills .skill-bars{
      padding: 2em;
      margin: 0;
      width:107%;
      
      background-color: rgb(136, 185, 185) ;
  
      border-radius: 10px;
      
  }
  #skills .skill-bars .bar{
      padding: 2em 0;
  }
  #skills .skill-bars .bar .info span{
      font-size: 1.2em;
      font-weight: bold;
      color: #1c1c1c;
    
  }
  #skills .skill-bars .bar .progress-line{
      position: relative;
      height: 1em;
      width: 95%;
      background-color:rgb(248, 168, 77);
      margin-top: .3em;
      border-radius: 5px;
  }
  #skills .skill-bars .bar .progress-line:last-child{
      margin-bottom: .5em;
  }
  #skills .skill-bars .bar .progress-line span{
      height: 100%;
      width: 95%;
      background-color: rgb(240, 81, 69);
      position: absolute;
  }
  #skills .skill-bars .bar .progress-line .two{
      width: 40%;
  }
  
  #skills .skill-bars .bar .progress-line .three{
      width: 0;
  }

  #skills .skill-bars .bar .progress-line .four{
      width: 15%;
  }



/*** FOOTER ***/

#footer {
  width:125%;
  height:100%;
  background-color: rgb(248, 168, 77);
  padding:3em;
  margin-top:1em;
  margin-right:0;
  
  }



#footer .container{

display: flex;
flex-direction: column;
position: relative;
right:70px;

}


#footer h2{
 font-size: 2em;
 color: #1c1c1c;
 margin-bottom:0.5em;
 }

#footer input[type="email"]{
  width: 55%;
  padding: .3em 1em;
  border-radius: 5px;
  margin-left:0; 
  }

#footer input[type="email"]:focus{
  outline: none;
  }

#footer input[type="submit"]{
  padding: .3em 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1c1c1c;
  color:rgb(248, 168, 77); 

  }

  #footer h4{
    margin-top: 0.5em;

  }

   
